.container{
    position: sticky;
    top: 0px;
    background-color: aqua;
    color: black;
    justify-content: center;
    text-align: center;
    font-size: large;
}
.headsection{
    position: sticky;
    top:253px
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid #333; /* Border for the entire table */
}

thead th {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-align: left;
    border: 1px solid #333; /* Border for header cells */
}

tbody td {
    padding: 10px;
    border: 1px solid #333; /* Border for body cells */
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Alternating row colors */
}

a{
    color: rgb(14, 193, 68)
    text-decoration: greenyellow;
}

a:hover {
    text-decoration: underline;
    color:white;
}
table tbody tr:nth-child(3n-2), 
table tbody tr:nth-child(3n-1), 
table tbody tr:nth-child(3n) {
    background-color: #9581af; /* Light gray for group of 3 rows */
}

table tbody tr:nth-child(6n-2), 
table tbody tr:nth-child(6n-1), 
table tbody tr:nth-child(6n) {
    background-color: gray; /* White for next group of 3 rows */
}


